.formulario {
  background-image: url("../../assets/Logomin.png");
  background-repeat: no-repeat;
  background-position: right;
  opacity: 0.9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 600px;
  margin: 35px ;
}
.form {
  position: relative;
  width: 100%;
  height: 498px;
 
}
.formTitle {
  padding: 30px;
  width: 100%;
  margin: 0 auto;
  text-shadow: 0.1em 0.1em 0.05em white;
}
.name {
  font-size: 25px;
  border: 1px solid black;
  border-radius: 13px;
}
.email {
  font-size: 25px;
  border: 1px solid black;
  border-radius: 13px;
}
.mensaje {
  font-size: 25px;
  border-radius: 13px;
  border: 1px solid black;
}
.buttonForm {
  border: 4px solid green;
  background-color: #f4e4fa;
  color: green;
  font-size: 27px;
  padding: 19px;
  border-radius: 15px;
  font-weight: 500;
}
.buttonForm:hover {
  border: 4px solid green;
  background-color: green;
  color: white;
  font-size: 27px;
  padding: 19px;
  border-radius: 15px;
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .name {
    font-size: 14px;
  }
  .email {
    font-size: 14px;
  }
  .mensaje {
    font-size: 14px;
  }
  .form {
    width: 100%;
    
  }
}

@media screen and (max-width: 400px) {
  .buttonForm {
    border: 4px solid green;
    background-color: #f4e4fa;
    color: green;
    font-size: 12px;
    padding: 3px;
    border-radius: 8px;
    font-weight: 500;
  }
  .buttonForm:hover {
    border: 4px solid green;
    background-color: green;
    color: white;
    font-size: 12px;
    padding: 8px;
    border-radius: 15px;
    font-weight: 500;
  }
  .form {
    width: 100%;
    margin: 0 auto ;
  }
  .formulario {
    height: 420px;
    margin: auto;
  }
  .form .buttonForm{
    text-align: center;
    padding: 10px;
  }
  .name {
    font-size: 12px;
    border-radius: 5px;
  }
  .email {
    font-size: 12px;
    border-radius: 5px;
  }
  .mensaje{
      font-size: 12px;
      border-radius: 5px;
  }
 
}
