@media screen and (max-width: 1700px) {
  .RedesContainer {
    background-image: url("../../assets/cesped.jpg");
    color: white;
    width: 100%;
    height: 500px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 1px 2px rgb(85, 84, 84);
  }
  .RedesContainer h1 {
    font-size: 45px;
    padding: 20px;
    text-shadow: 0.1em 0.1em 0.05em black;
  }

  .PasosContainer {
    background-image: url("../../assets/Logomin.png");
    opacity: 0.9;
    filter: alpha(opacity=40);
    background-color: white;
    color: black;
    border: 1px solid white;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-size: 5rem;
    box-shadow: 2px 1px 2px rgb(85, 84, 84);
  }

  .list-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .redesSociales ul li a i {
    color: white;
    text-shadow: 0.1em 0.1em 0.05em black;
  }
  .redesSociales ul li {
    list-style-type: none;
  }
  .redesSociales ul li a i:hover {
    color: black;
  }
  .comoContactar {
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
  }
}

@media screen and (max-width: 780px) {
  .PasosContainer {
    background-size: 3rem;
  }
  .PasosContainer h5 {
    text-align: center;
  }
  .PasosContainer h2 {
    text-align: center;
  }
  .RedesContainer h1 {
    font-size: 30px;
  }
  .redesSociales ul li a i{
    font-size: 3rem;
  }
  .redesSociales ul li a i:hover{
    transition: 1s;
    transform: scale(1.25);
    color: lightblue;
    font-size: 4rem;
  }
}

