@media screen and (max-width: 1600px) {
  .RedesContainer {
    background-image: url("../../assets/cesped.jpg");
    color: white;
    width: 100%;
    height: 500px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .RedesContainer h1 {
    font-size: 45px;
    padding: 20px;
  }

  .PasosContainer {
    background-image: url("../../assets/Logomin.png");
    opacity: 0.8;
    filter: alpha(opacity=40);
    background-color: #f4e4fa;
    color: black;
    border: 1px solid white;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    background-size: 5rem;
  }

  .list-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .redesSociales ul li a i {
    color: white;
  }
  .redesSociales ul li {
    list-style-type: none;
  }
  .redesSociales ul li a i:hover {
    color: black;
  }
  .comoContactar {
    margin: 0 auto;
    padding: 30px;
    width: 90%;
  }
}

@media screen and (max-width: 780px) {
  .PasosContainer {
    background-size: 3rem;
  }
  .PasosContainer h5 {
    text-align: center;
  }
  .PasosContainer h2 {
    text-align: center;
  }
  .RedesContainer h1 {
    font-size: 30px;
  }
}

/*
@media screen and (max-width: 900px) {
  .pasosTexto {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    justify-content: center;
    font-size: 15px;
    color: black;
  }
  h1,
  h2 {
    text-align: center;
  }
  .PasosContainer {
    background-color: #f4e4fa;
    background-size: 5rem;
    font-size: 3.5vh;
  }
  .contenedorFooter {
    height: auto;
  }
  .RedesContainer h1 {
    font-size: 25px;
    text-align: center;
  }
}
@media (max-width: 670px) {
  .pasosTexto {
    font-size: 12px;
    font-weight: bold;
    width: 100%;
  }
  h1 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
  h2 {
    text-align: center;
    font-size: 15px;
    font-weight: 900;
  }
}
@media (max-width: 1600px) and (min-width: 900px) {
  .PasosContainer {
    background-size: 10rem;
  }
  .PasosContainer h2 {
    font-size: 30px;
    font-weight: 900;
  }
  .PasosContainer h2 {
    font-size: 20px;
  }
}*/
