@media (max-width: 1700px) {
  .contenedorPrincipal {
    display: flex;
    flex-wrap: wrap;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .sectionContainer {
    background-image: url("../../assets//cesped.jpg");
    color: white;
    width: 100%;
    height: 400px;
    box-shadow: 6px 20px 10px black;
    display: flex;
    color: white;
  }
  .sectionContainer h1,
  h3 {
    text-shadow: 0.1em 0.1em 0.05em black;
  }

  .sectionContainerDos {
    background-image: url("../../assets/04.jpg");
    object-fit: fill;
    border-radius: 5px;
    padding: 13px;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    box-shadow: 6px 20px 10px white;
    min-width: 250px;
  }
  .sectionContainerDos h1 {
    text-shadow: 0.1em 0.1em 0.05em black;
  }
  .sectionContainerDos p {
    text-shadow: 0.1em 0.1em 0.05em black;
    font-size: 23px;
  }

  .sectionContainerTres {
    background-image: url("../../assets/galeria/burbu.jpg");
    border-radius: 5px;
    padding: 13px;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    text-align: center;
    box-shadow: 6px 20px 10px white;
    min-width: 250px;
  }

  .sectionContainerTres p {
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0.1em 0.1em 0.05em black;
  }
  .sectionContainerTres h1 {
    text-shadow: 0.1em 0.1em 0.05em black;
  }
  .sectionContainerTres h2 {
   font-size: 24px;
  }

  .sectionContainerCuatro {
    background-image: url("../../assets//cesped.jpg");
    object-fit: fill;
    border-radius: 5px;
    padding: 13px;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    text-align: right;
    box-shadow: 6px 5px 5px black;
    min-width: 250px;
  }
   
 
  .sectionContainerCuatro h1 {
    text-align: right;
    font-size: 45px;
    line-height: 300px;
    text-shadow: 0.1em 0.1em 0.05em black;
  }
  .sectionContainerCuatro p {
    margin-top: 35px;
    font-size: 22px;
    text-shadow: 0.1em 0.1em 0.05em black;
    font-weight: 500;
  }
  .contenedorExterior {
    width: 100px;
    height: 100px;
    border: 1 px solid white;
  }

  .contenedorInterior {
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(250px, 150px);
    max-width: 100%;
    text-align: right;
  }
  .buttonOne {
    font-size: 23px;
    padding: 20px;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 25px;
  }

  .buttonOne:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
    border: 3px solid white;
    background-color: green;
  }
  h4 {
    margin: 10px;
  }
  .containerAccordion section a {
    text-shadow: 0.1em 0.1em 0.05em black;
  }
  .containerAccordion section p {
    overflow: hidden;
    max-height: 0;
  }
  .containerAccordion section:target p {
    max-height: 120px;
    padding: 10px;
  }
  .containerAccordion section a:hover {
    transition: 1s;
    transform: scale(1.25);
    color: lightblue;
    font-size: 35px;
  }
  .reserva{
    margin-top: 75px;
    text-align: center;
  }
  .redesSociales ul li a i{
    font-size: 5rem;
  }
  .redesSociales ul li a i:hover{
    transition: 0.5s;
    transform: scale(1.25);
    color: lightblue;
    font-size: 6rem;
  }
  .textoCarousel{
    text-shadow: 0.1em 0.1em 0.05em black;
    font-size: 20px;
  }
  .tituloCarousel{
    text-shadow: 0.1em 0.1em 0.05em black;
  }
}

@media (max-width: 770px) {
  .contenedorInterior {
    display: block;
    position: relative;
    left: -150px;
    top: 100px;
  }
  .sectionContainer {
    height: 400px;
  }
  button {
    float: right;
  }
  .buttonOne {
    font-size: 15px;
    padding: 15px;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 25px;
  }
  .sectionContainerDos {
    height: 400px;
    padding: 5px;
    font-size: 10px;
    text-align: center;
    margin: 2px 0 2px 0;
  }
  .sectionContainerDos p {
    font-size: 14px;
    text-shadow: 0.1em 0.1em 0.05em black;
  }
  .sectionContainerDos h1 {
    font-size: 30px;
  }
  .sectionContainerTres {
    height: 600px;
    text-align: center;
    margin: 2px 0 2px 0;
  }
  .sectionContainerTres p {
    font-size: 11px;
    text-shadow: 0.1em 0.1em 0.05em black;
  }
  .sectionContainerTres h1 {
    font-size: 30px;
    text-shadow: 0.1em 0.1em 0.05em black;
  }
  .sectionContainerTres h4 {
    text-shadow: 0.1em 0.1em 0.05em black;
    font-size: 16px;
  }
  .sectionContainerCuatro {
    height: 600px;
    padding: 5px;
    text-align: center;
    margin: 2px 0 2px 0;
  }
  .sectionContainerCuatro p {
    font-size: 18px;
    line-height: normal;
    padding: 20px;
    font-size: 17px;
    text-shadow: 0.1em 0.1em 0.05em black;
    position: relative;
    top: 35px;
  }
  .sectionContainerCuatro h1 {
    text-align: right;
    line-height: normal;
    font-size: 40px;
    position: relative;
    top: 60px;
  }
  h4 {
    margin: 10px;
  }
  .textoCarousel{
    font-size: 12px;
  }
}

@media (max-width: 400px) {

}